<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>基于用户兴趣的搜索引擎 - 注册</title>

  <!-- Custom fonts for this template-->
  <link href="/static/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/static/admin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">创建一个用户兴趣搜索引擎的账户</h1>
              </div>
              <form method="post" action="{% url 'register' %}" class="user">
                <div class="form-group">
                  <input name="email" type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="邮箱">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input name="password" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="密码">
                  </div>
                  <div class="col-sm-6">
                    <input name="re_password" type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="重复密码">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  立即注册
                </button>
                  {% csrf_token %}
                <hr>
              </form>
              <hr>
              <div class="text-center">
                  {% for key, error in register_form.errors.items %}{{ error }}{% endfor %}
                <a class="small" href="{% url 'login' %}">已经有账户了? 立即登录</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/static/admin/vendor/jquery/jquery.min.js"></script>
  <script src="/static/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/static/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/static/admin/js/sb-admin-2.min.js"></script>

</body>

</html>
